/* Setting uniform image height in Bootstrap cards */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#home-grid .card:hover {
    transform: scale(1.02);
}

#home-grid .card {
    transition: all 0.2s;
}




/* Card carousel on mobile */



.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 2px);
    gap: 0px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.carousel-card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .carousel-card {
    cursor: grab;
    user-select: none;
}

.carousel .carousel-card {
    scroll-snap-align: start;
    height: 400px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-card .img {
    background: green;
    width: 145px;
    height: 145px;
    border-radius: 50%;

}

.carousel-card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.carousel-card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel-card span {
    color: #6a6d78;
    font-size: 1.31rem;

}

@media screen and (max-width: 900px) {
   .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
   .carousel {
        grid-auto-columns: 100%;

    }
}