{% extends "base.html" %}

{% block main %}
<div class="title-block">
    <h1>Add event</h1>
</div>

<div class="card narrow-card">
    <div class="card-body">
        <h5 class="card-title">Add an upcoming event</h3>
            <form action="{{ url_for('add') }}" method="post">

                <div class="form-group">
                    <label for="artist">Name:</label>
                    <input type="text" name="artist" class="form-control" placeholder="Artist name">
                </div>
                <div class="form-group">
                    <label for="date_time">Date and time of gig:</label>
                    <input type="datetime-local" name="date_time" class="form-control">
                </div>
                <div class="form-group">
                    <label for="venue">Venue:</label>
                    <select id="venue" name="venue" class="form-select">
                        <option selected>Select a venue</option>
                        <option value="The Olympia">The Olympia</option>
                        <option value="3Arena">3Arena</option>
                        <option value="Vicar Street">Vicar Street</option>
                        <option value="Croke Park">Croke Park</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="promoter">Promoter:</label>
                    <input type="text" name="promoter" class="form-control"
                        value="{{ user_datastore[session.username]['promoter'] }}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description" rows="5" cols="30" class="form-control"
                        placeholder="Enter description"> </textarea>
                </div>
                <div class="form-group">
                    <label for="image_url">Image:</label>
                    <select id="image" name="image_url" class="form-select">
                        <option selected>Select an image</option>
                        <option value="chappell.jpg">Chappell Roan</option>
                        <option value="fontaines.jpg">Fontaines D.C.</option>
                        <option value="taylor-swift.jpg">Taylor Swift</option>
                        <option value="oasis.jpg">Oasis</option>
                        <option value="elmo.jpg">Elmo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ticket_price">Ticket price:</label>
                    <input type="number" name="ticket_price" class="form-control" step="0.01" id="price">
                </div>
                <div class="form-group">
                    <label for="tickets_left">Total number of tickets:</label>
                    <input type="number" name="tickets_left" class="form-control" placeholder="0">
                </div>
                <div class="form-group">
                    <label for="sale_date_time">Start of sale:</label>
                    <input type="datetime-local" name="sale_date_time" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Create event</button>

            </form>
    </div>
</div>


{% endblock %}

artist = request.form.get("artist")
date_time = request.form.get("date_time")
venue = request.form.get("venue")
promoter_name = request.form.get("promoter")
description = request.form.get("description", "")
image_url = request.form.get("image_url", "")