{% extends "base.html" %}

{% block main %}
<div class="title-block">
      <h1>Welcome{% if session['username'] %}, {{ session['username'] }}! {% endif %}</h1>
</div>

<div class="card mb-4 narrow-card">
      <div class="card-body">
            <h3 class="card-title">Add an upcoming gig</h3>
            {% if session['username'] %}
            <p class="card-text">Add an upcoming gig and sell tickets directly from
                  Ticket
                  Maestro.</p>
            <a class="btn btn-success" href="{{ url_for('add') }}">Add a new gig</a>
            {% else %}
            <p class="card-text">Are you a promoter? If so, you can add an upcoming gig and sell tickets directly from
                  Ticket
                  Maestro.</p>
            <button class="btn btn-success" onclick="window.location.href='{{ url_for('login_page') }}'">Log in</button>
            {% endif %}

      </div>
</div>

<div id="home-grid">
      <h4 class="mb-3">Buy tickets:</h4>
      <div class="row">
            {% for gig in gigs %}
            <div class="col-md-4 mb-3">
                  <div class="card h-100">
                        <img src="{{ url_for('static', filename='images/') }}{{ gig.image_url }}" alt="{{ gig.artist }}"
                              class="card-img-top" id="img1">
                        <div class="card-body">
                              <h5 class="card-title">{{ gig.artist }}</h5>
                              <p>Date: {{ gig.date_time }}</p>
                              <p>Venue: {{ gig.venue }}</p>
                              <p>Promoter: {{ gig.promoter.name }}</p>
                              <form method="get" action="{{ url_for('buy_page', gig_id=loop.index0) }}">
                                    <button class="btn btn-primary" type="submit">Check availability</button>
                              </form>

                        </div>
                  </div>
            </div>
            {% endfor %}
      </div>
</div>


<div class="carousel" id="home-carousel">
      <h4 class="mb-3">Buy tickets:</h4>
      <div class="card-container">
            {% for gig in gigs %}
            <a href="{{ url_for('buy_page', gig_id=loop.index0) }}" class="text-body-secondary">
            <div class="col-md-4 mb-3">
                  <div class="card carousel-card h-100">
                        <img src="{{ url_for('static', filename='images/') }}{{ gig.image_url }}" alt="{{ gig.artist }}"
                              class="card-img-top" onclick="enlargeImg()" id="img1">
                        <div class="card-body">
                              <h5 class="card-title">{{ gig.artist }}</h5>

                              <p>Venue: {{ gig.venue }}</p>
                              <!-- <form method="get" action="{{ url_for('buy_page', gig_id=loop.index0) }}">
                                    <button class="btn btn-primary" type="submit">Check availability</button>
                              </form> -->

                        </div>
                  </div>
            </div></a>
            {% endfor %}
      </div>

</div>


<!--
<ul class="carousel" id="home-carousel">
      {% for gig in gigs %}
      <li class="carousel-card">
            <div class="card h-100">
                  <img src="{{ gig.image_url }}" alt="{{ gig.artist }}" class="card-img-top">
                  <div class="card-body">
                        <h5 class="card-title">{{ gig.artist }}</h5>
                        <p>Date: {{ gig.date_time }}</p>
                        <p>Venue: {{ gig.venue }}</p>
                        <p>Promoter: {{ gig.promoter.name }}</p>
                        <p>Description: {{ gig.description }}</p>
                        <p>Image URL: {{ gig.image_url }}</p>
                        <form method="get" action="{{ url_for('buy_page', gig_id=loop.index0) }}">
                              <button class="btn btn-primary" type="submit">Check availability</button>
                        </form>

                  </div>
            </div>

      </li>

      {% endfor %}
</ul>

-->

{% endblock %}