{% extends "base.html" %}

{% block main %}


<div class="title-block">
    <h1>Purchase complete</h1>
</div>

<div class="card mb-4 narrow-card">
    <div class="card-body">
        <h3 class="card-title">Thank you for shopping with us</h3>
        <p class="card-text">We hope that you enjoy the show</p>
        <!-- <a href="{{ url_for('buy_page', gig_id=gig_id) }}" class="btn btn-secondary">Return to event page</a> -->
        <a href="{{ url_for('index') }}" class="btn btn-primary">Go to homepage</a>
    </div>
</div>




{% endblock %}