{% extends "base.html" %}

{% block main %}


<div class="title-block">
    <h1>Purchase complete</h1>
</div>

<div class="card mb-4 narrow-card">
    <div class="card-body">
        <h3 class="card-title">Thank you for shopping with us</h3>
        <p class="card-text">We hope that you enjoy the show</p>
        <table class="table w-auto table-hover">
            <tbody>
                <tr>
                    <th scope="row">Number of tickets:</th>
                    <td>{{ buy_amount }}</td>
                </tr>
                <tr>
                    <th scope="row">Ticket price:</th>
                    <td>€{{ gig_sale.ticket_price }}</td>
                </tr>
                <tr>
                    <th scope="row">Total cost:</th>
                    <td>€{{ gig_sale.ticket_price * buy_amount }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ url_for('buy_page', gig_id=gig_id) }}" class="btn btn-secondary">Return to event page</a>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Go to homepage</a>
    </div>
</div>




{% endblock %}